.header {
  display: flex;
  flex-direction: column;
  height: 80px;
  padding: 15px;
  background-color: rgb(196, 223, 255);

  a {
    padding-top: 3px;
  }
}

.reduxContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;

  .separator {
    width: 1px;
    height: 100%;
    background-color: silver;
  }

  .menuContainer {
    padding: 7px;
    flex: 0 0 200px;
  }
}

.button{
  margin-left: 1px;
  margin-top: 5px;
  height: 25px;
  width: 82px;
  border-radius: 15px;
  text-align: center;
  background-color: rgb(196 223 255);
}

.infoscreen {
  width: 100%;

  .info {    
    display: flex;
    width: 100%;
    flex-direction: row;

    .infoColumn{
      margin: 10px;
      flex:1;

      .red{
        background-color: rgb(255, 182, 182);
      }

      .blue{
      background-color: rgb(178, 196, 255);
      }
      
      .infoItem{    
        padding-left: 5px;
        margin-top: 2px;

      }
    }
  }
}